.my-input{
  width: 500px;
  background-color: #fff;
  height: 30px;
  margin: 15px;
  border-radius: 10%;
  font-size: larger;
  color: black;
  box-shadow:
    inset 0 -3em 3em rgb(0 200 0 / 30%),
    0 0 0 2px white,
    0.3em 0.3em 1em rgb(200 0 0 / 60%);
}
.my-label{
  width: 400px;
  height: 20px;
  margin: 15px;
  border-radius: 10%;
  background-color: rgb(70, 70, 53);
}
.shadow{
  box-shadow:
    inset 0 -3em 3em rgba(233, 98, 201, 0.3),
    0 0 0 2px rgb(110, 186, 178),
    0.3em 0.3em 1em rgba(236, 232, 232, 0.6);
}